<%- include("header"); -%>
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a class="navbar-brand brand" href="#"
      ><img src="/icon/brand_icon.svg" style="width:35px; height:35px;" alt="brand"> Dionysus</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#collapse_content"
      aria-controls="collapse_content"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapse_content">
      <ul class="navbar-nav ml-auto right-items">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://still-dusk-52410.herokuapp.com/"
            >API</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/sabrina-gujral/Dionysus"
            >GitHub</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#footer">Contact</a>
        </li>
      </ul>
    </div>
  </nav>